.outline-calci{
  border-color:black;
  border-width:5px;
  border-style:solid;
  width:350px;
  height:300px;
}
input[type="text"] {
  width: 95%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  margin:4px;
  margin-left:1px;
  height:55px;
  border-color:blueviolet;
  border-style:solid;
 
}
button {
  width: 70px;
  height: 40px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}